* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff
}

#app {
  margin-top: 100px;
  align-items: flex-end;
  width: 700px;
  position: relative;
  min-height: 300px;
}

.dropDownMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dropDownMenu button {
  border-radius: 5px;
  background-color: orangered;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.options {
  display: flex;
  position: relative;
  justify-content: flex-end;
  min-width: 100px;
}

.filterOptions,
.sortOptions {
  padding: 5px;
  position: absolute;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  background-color: black;
  visibility: hidden;
  z-index: 1;
}

.filterOptions {
  top: 0;
  left: 77%;
}

.available,
.decending {
  border-bottom: 1px solid white;
  margin-bottom: 5px;
  padding: 3px;
}
.unavailable,
.available,
.decending,
.ascending {
  padding: 0px 3px 3px 3px;
  cursor: pointer;
}

.car {
  display: flex;
  margin: 5px auto;
  position: relative;
  width: 100%;
  border: 1px solid black;
  background-color: rgb(143, 132, 132);
  box-shadow: 5px 10px 18px #888;
  color: white;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.car > button {
  background-color: black;
  margin-right: 50px;
}

.carBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: red;
  position: absolute;
  top: 50%;
  right:-7%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}
