:root {
  --color-gray-light: #f9fafb;
  --color-accent-primary: #6b7280;
  --color-accent-shade1: #4b5563;
  --color-black-light: #020617;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-light);
}

#app {
  margin-top: 100px;
  align-items: flex-end;
  width: 700px;
  position: relative;
  min-height: 300px;
}

#app h1 {
  position: absolute;
  top: -6%;
  left: -12%;
  font-size: 46px;
  word-spacing: 145px;
}
#app span {
  font-size: 35px;
  position: absolute;
  top: -51%;
  left: 29%;
  background-color: var(--color-accent-primary);
  border-radius: 10px;
  padding:5px;
}

.dropDownMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#filterBtn,
#sortBtn,
#clearBtn {
  border-radius: 10px;
  background-color: var(--color-accent-shade1);
  color: white;
  margin-left: 3px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}

.options {
  display: flex;
  position: relative;
  justify-content: flex-end;
  min-width: 100px;
}

.carDiv {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  position: relative;
  margin-top: 10px;
  width: 100%;
  background-color: var(--color-accent-primary);
  color: white;
  border-radius: 5px;
}

.carAvailability {
  position: absolute;
  font-size: 20px;
  right: 17%;
}

.carBtn {
  background-color: var(--color-black-light);
  border-radius: 10px;
  width: 45px;
  font-size: 20px;
  padding: 1px 2px;
  height: 35px;
  color: #fff;
  cursor: pointer;
}
